@model TravelAgencyVoyavista.Models.Order

<div class="text-center text-white my-5">
	<h2>Payment Successful!</h2>
	<p>Your Order @Model.OrderId has been successfully processed.</p>
	<p><strong>Amount Paid:</strong> $@Model.TotalCost</p>
</div>
