@{
    ViewData["Title"] = "No Rooms Available";
}

<h1 class="text-center text-danger">No Rooms Available</h1>
<p class="text-center">There are no available rooms for this trip on these dates.</p>
<p class="text-center"><a href="@Url.Action("Index", "Travelpackage")">Return to Travel Packages</a></p>

